// COLORS
$colorWhite: #fff;
$colorBlack: #000;
$colorGreyDark1: #777;
$colorGreyDark2: #999;
$colorGreyDark3: #555;
$colorGreyDark4: #333;

$colorGreyLight1: #f7f7f7;
$colorGreyLight2: #eee;


$colorRed1: #f04667;
$colorRed2: #f55656;

$colorRed1Pale: #ee6178;
$colorRed2Pale: #f07e85;

$colorDark1: #2F4858;

// LAYOUT

$footerHeight: 5rem;
$ru: calc(1.5vmin + 1vmax);


$verticalMargin: 3rem;
$horizontalMargin: 2rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// FONT
$defaultFontSize: 1.6rem;
